# Django #
*.log
*.pot
*.pyc
__pycache__

# Backup files # 
*.bak 

# Python # 
*.py[cod] 
*$py.class 

# Environments
.venv 
venv/ 
.env

# Visual Studio Code # 
.vscode/* 
.vscode/
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history